body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(57, 18, 88);
    color: white;
}
.s{
    float: left;
    margin-left: 15px;
    background: transparent;
    font-family: 'Caveat', cursive;
    font-family: 'Sevillana', cursive;
    color: red;
    font-size: 40px;
    width: 50px;
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;
    left: 10px;
    border: 2px solid rgb(255, 252, 252);
    box-sizing: border-box;
    border-radius: 50px;
}
.e{
    float: left;
    border: none;
    left: 40px;
    color: green;
    font-size: 40px;
    font-family: 'Caveat', cursive;
    font-family: 'Sevillana', cursive;
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;
    width: 50px;
    box-sizing: border-box;
}
.menu{
    float: right;
    margin-top: 15px;
    margin-right: 23px;
    transition: 0.3s;
}
.menu:hover{
    transform: rotate(360deg);
}
.portfolio{
    text-decoration: none;
    text-transform: uppercase;
    float: left;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 80px;
    font-family: 'Caveat', cursive;
    visibility: hidden;
    color: black;
    color: white;
}
.anchore{
    text-decoration: none;
    float: right;
    margin-right: 10px;
    margin-left: 70px;
    text-transform: uppercase;
    color: black;
    font-family: 'Caveat', cursive;
    color: white;
    margin-top: 40px;
}
.nav-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: right;
    visibility: hidden;
    position: absolute;
    left: 100px;
    top: 60px;
}
.clear{
    clear: both;
    content: '';
}
h1,h2{
    text-transform: uppercase;
    font-family: 'Caveat', cursive;
    text-align: center;
}
.naim-sheikh{
    font-size: 20px;
    margin-left: 50px;
    margin-right: 10px;
    margin-top: 50px;
}
.naim-islam{
    font-size: 20px;
    margin-right: 50px;
    margin-left: 15px;
}
.and{
    margin-left: 50px;
    margin-right: 12px;
}
.student{
    margin-right: 70px;
    font-size: 20px;
    margin-left: 18px;
}
h3{
    text-align: center;
}
.myself{
    font-size: 15px;
    font-family: 'Caveat', cursive;
    margin-left: 120px;
}
.eight{
    margin-left: 50px;
    margin-right: 15px;
}